<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post" th:action="@{/meals/edit}">
    <input type="hidden" th:value="${meal.id}" name="mealId" />

    <div class="form-group">
        <label>Meal Name
            <select th:field="${meal.mealName}" class="form-select">
                <option th:each="mealName : ${mealNames}"
                        th:value="${mealName}"
                        th:text="${mealName.displayMealName}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${meal.description}" id="mealName" class="form-control"
                   placeholder="Please enter meal description...">
        </label>
        <p class="error"    th:errors="${meal.description}"></p>
    </div>
    <div class="form-group">
        <input type="submit"    value="Edit Meal" class="btn btn-success">
    </div>
</form>

</body>
</html>